[Unit]
Description=Portainer UI firewall (Ansible-managed nftables table inet portainer_fw)
After=nftables.service network-pre.target
Wants=network-pre.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/nft -f /etc/nftables.d/portainer-firewall.nft
ExecStop=/usr/sbin/nft delete table inet portainer_fw

[Install]
WantedBy=multi-user.target
